# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
# Codeowners for reviews on PRs

# Github Actions:
# .github/workflows/ @dietmarkuehl
#
# Devcontainer:
# .devcontainer/ @dietmarkuehl
#
# Pre-commit:
# .pre-commit-config.yaml @dietmarkuehl
# .markdownlint.yaml @dietmarkuehl

*  @dietmarkuehl
